
@if (User.Identity.IsAuthenticated)
{
}
else
{
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item pr-4">
                <a class="btn btn-primary" asp-controller="Account" asp-action="Login"> Login </a>
            </li>
            <li class="nav-item pr-4">
                <a class="btn btn-primary" asp-controller="Account" asp-action="Register"> Register </a>
            </li>
        </ul>
    </div>
}